* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", "Open Sans", Arial, Helvetica, sans-serif;
    overflow: hidden
}

/* PARTE COMPOPNENTES LOGO */
.mano{
    background-color: #232323;
    height: 1000px;
}

.Cima{
    height: auto
}

/* Parte components Pirulas */
.Pirula{
    display: flex;
    justify-content: space-between;
    width: 101vw;
    height: 10vw;
}


/* PARTE DO LOGIN */

.usu_login{
    text-transform: uppercase;
    font-family: Sarabun;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 109px;
    margin-top: 20px;
    color: #232323;

}


.Imput{
    border: none;
    width: 38%;
    border-bottom: 3px solid #ffffff;
    background: transparent;
    font-size: 2em;
    cursor: pointer;
    color: #ffffff;
}


.Imput::placeholder {
    color: #ffffff;
}

.login{
    display: flex;
    height: 38%;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.CorAzul{
      color: #1C8FD0;
}

.CorVermelha{
    color: #C00000;
}

.Div_Matrix{
display: flex;
justify-content: center;
}

