* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", "Open Sans", Arial, Helvetica, sans-serif;
    
}

.container{
    background-color: #232323;
    height: 100vh;
    overflow: hidden
}


/* PARTE COMPOPNENTES LOGO */
.ContainerLogo_{
    /* background-color: #232323; */
    display: flex;
    justify-content: center;
    height: 13vw;
}

.Rojo_{
    position: absolute;
    margin-top: 40px;
    margin-left: 3px;
}

.Letra-logo_ {
    height: 12vw;
    width: 12vw;
    pointer-events: none;
    /* animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: Letra-logo; */
}

@media (prefers-reduced-motion: no-preference) {
    .Letra-logo_ {
      animation: Letra-logo infinite 50s linear;
    }
  }

@keyframes Letra-logo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ConteinerForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    width: 65%;
}

.Imput{
    border: none;
    width: 38%;
    border-bottom: 3px solid #ffffff;
    background: transparent;
    font-size: 1em;
    cursor: pointer;
    color: #ffffff;
}

.NomeCor{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    background-color: red;
    border: solid 1px rgb(255, 255, 255);
    cursor: pointer;
}

.contA{
    display: flex;
    align-items: center;
    width: 115%;
    justify-content: space-between;
}

.a{
    color: white;
}

.ImputCor{
    position: absolute;
    opacity: 0;
}

.ImputFile{
    display: none;
}

.ImputFile_{
    color: #ffffff;
    border: none;
    width: 100%;
    border-bottom: 2px solid #ffffff;
    background: transparent;
    font-size: 1em;
    cursor: pointer;
    transition: background, 0.75s;
}

.ImputFile_:hover,
.ImputFile_:focus{
        color: #ffffff;
        border: none;
        width: 100%;
        border-bottom: 2px solid #ff0000;
        background-color: rgba(255, 255, 255, 0.137);
        font-size: 1em;
        cursor: pointer;
    }

.EventFile{
    width: 18vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BotãoCor{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 13px;
    width: 100%;
    height: 12%;
    background: transparent;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    margin-top: 35px;
    font-size: 1em;
    cursor: pointer;
    transition: border, 1s;
}

.BotãoCor:hover,
.BotãoCor:focus {
    border: 2px solid #FF1B00;
    box-sizing: border-box;
    border-radius: 13px;
    width: 100%;
    height: 12%;
    background: transparent;
    color: #FF1B00;
    font-style: normal;
    font-weight: 400;
    margin-top: 35px;
    font-size: 1em;
    cursor: pointer;
}

/* ----------------------------prototipos--------------------------------- */

.ContLogoProt{
    display: flex;
    flex-direction: column;
}

.ContFormProt{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    height: 44vw;
    align-items: center;
}

.PrototiposConteiner{
    display: flex;
    justify-content: space-around;
    width: 621px;
    height: 425px;
    /* background-color: rgba(190, 157, 64, 0.986); */
    border-radius: 13px;
}

.PrototipoEsq{
    width: 245px;
    height: 100%;
    border-radius: 13px;
    background-color: #B01425;
}

.HaderProt{
    width: 100%;
    height: 12%;
    border-top-left-radius: 13px;
    background-color: #000;
    display: flex;
    justify-content: center;
}

.ContHader{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ContAmbur{
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.Amburguer{
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #B01425;
}

.FotoPerfil{
    width: 28px;
    height: 28px;
    border-radius: 100px;
    background-color: #D0CFCF;
}

.BannerProt{
    width: 100%;
    height: 21%;
    background-color: #D0CFCF;
}

.MenuCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 67%;
    justify-content: space-evenly;
}

.BolinhaAlinhada{
    display: flex;
    width: 88%;
    justify-content: space-around;
}

.Bolinha{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #D0CFCF;
}

.PrototipoDir{
    width: 245px;
    height: 100%;
    border-radius: 13px;
    background-color: #B01425;
    display: flex;
}

.DentroMenuB{
    height: 100%;
    width: 50%;
    background-color: #B01425;
}

.BorroCinza{
    height: 100%;
    width: 50%;
    background-color: #c4c4c475;
}

.ContMenuDentro{
    display: flex;
    flex-direction: column;
    height: 45%;
    justify-content: space-evenly;
    align-items: center;
    color: #ffff;
}

.CimaMenu{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.BaixoMenu{
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contF{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: flex-start;
    justify-content: center;
}

.Cadastrar_Cor{
    font-weight: 400;
    font-size: 60px;
    color: #FFFFFF;
}

.EssaBarra1 {
    background-color: #FF1B00;
    width: 25vw;
    height: 0.1vw;
}

.contF{
    margin-left: 35px;
}

.contTitulo{
    height: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contFormulario{
    display: flex;
    flex-direction: column;
    height: 65%;
    justify-content: space-around;
    align-items: flex-start;
}