* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", "Open Sans", Arial, Helvetica, sans-serif;
    
}

/* PARTE COMPOPNENTES LOGO */
.mano{
    background-color: #232323;
    height: 100vh;
    overflow: hidden
}

.Cima{
    height: auto
}

/* Parte components Pirulas */
.Pirula{
    display: flex;
    justify-content: space-between;
    width: 101vw;
    height: 10vw;
}



/* -----------------------------------------------1920----------------------------------------------------- */

@media (max-width: 1920px) {
    * {
        margin: 0;
        padding: 0;
        font-family: "Raleway", "Open Sans", Arial, Helvetica, sans-serif;
        
    }
    
    /* PARTE COMPOPNENTES LOGO */
    .mano{
        background-color: #232323;
        height: 100vh;
        overflow: hidden
    }
    
    .Cima{
        height: auto
    }

    /* Parte components Pirulas */
    .Pirula{
        display: flex;
        justify-content: space-between;
        width: 101vw;
        height: 10vw;
    }
    
    
    /* PARTE DO LOGIN */
    
    /* .usu_login{
        text-transform: uppercase;
        font-family: Sarabun;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 109px;
        margin-top: 20px;
        color: #232323;
    
    } */
    
    
    .Name_Adm{
        border: none;
        width: 38%;
        border-bottom: 2px solid #ffffff;
        height: 12%;
        background: transparent;
        font-size: 1em;
        cursor: pointer;
        color: #ffffff;
        transition: background, 0.75s;
    }

    .Name_Adm:hover,
    .Bot達oCadastrarUsu:focus{
        border: none;
        width: 38%;
        height: 12%;
        border-bottom: 2px solid #ff0000;
        background-color: rgba(255, 255, 255, 0.137);
        font-size: 1em;
        cursor: pointer;
        color: #ffffff;
    }
    
    .Name_Adm::placeholder {
        color: #ffffff;
    }
    
    .cadastrar_usu{
        display: flex;
        height: 60%;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .CorAzul{
          color: #1C8FD0;
    }
    
    .CorVermelha{
        color: #C00000;
    }
    
    .Div_Matrix{
    display: flex;
    justify-content: center;
    }
    
    .Bot達oCadastrarUsu{
        border: 3px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 13px;
        width: 12%;
        height: 18%;
        background: transparent;
        color: #ffffff;
        font-style: normal;
        font-weight: 400;
        font-size: 2em;
        cursor: pointer;
        transition: border 1s;
    }

    .Bot達oCadastrarUsu:hover,
    .Bot達oCadastrarUsu:focus {
        border: 3px solid #FF1B00;
        box-sizing: border-box;
        border-radius: 13px;
        width: 12%;
        height: 18%;
        background-color: #ff0000;
        color: #ffffff;
        font-style: normal;
        font-weight: 400;
        font-size: 2em;
        cursor: pointer;
    }
}

