* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", "Open Sans", Arial, Helvetica, sans-serif;
}

.Container {
    background-color: #232323;
    height: 100vh;
}

.ContBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    justify-content: space-between;
}

.contl {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 65vh;
    width: 60vw;
    border-radius: 13px;
    justify-content: flex-start;
    padding-right: 1vw;
}

.contl::-webkit-scrollbar-thumb{
    background-color: #707070; 
    border-radius: 13px;    
}

.contl::-webkit-scrollbar{
    width: 12px;
}

.ContList {
    display: flex;
    width: 55vw;
    height: 16vw;
    align-items: center;
    background-color: rgb(63, 62, 62);
    box-shadow: 12px 14px 16px #000000;
    border-radius: 13px;
    margin-top: 35px;
    transform: scale(1);
    transition: all .2s;
}

.ContList:hover,
.ContList:focus {
    display: flex;
    width: 55vw;
    height: 16vw;
    align-items: center;
    background-color: rgb(63, 62, 62);
    box-shadow: 12px 14px 16px #000000;
    border-radius: 13px;
    margin-top: 35px;
    transform: scale(1.05);
}


.Seus_Eventos {
    font-weight: 400;
    font-size: 81px;
    color: #FFFFFF;
}

.EssaBarra {
    background-color: #FF1B00;
    width: 41vw;
    height: 0.1vw;
}

.imagens {
    width: 10vw;
    margin-left: 29px;
}

.tudo {
    height: 218px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.NomeEvento {
    font-weight: 400;
    font-size: 45px;
    width: 100%;
    margin-top: 15px;
    color: #FFFFFF;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    text-overflow: ellipsis;
}

.barrinha {
    background-color: #FF1B00;
    width: 100%;
    height: 0.1vw;
}

.NomePalestrante {
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
}

.Descricao {
    font-weight: 400;
    font-size: 25px;
    color: #FFFFFF;
    width: 30vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.desc {
    display: flex;
    flex-direction: column;
    height: 45%;
    justify-content: flex-end;
}

.mod {
    position: absolute;
    inset: 95px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(63, 62, 62);
    overflow: auto;
    border-radius: 13px;
    outline: none;
    padding: 25px;
}